/* Navigation font sizes and styling */
.book-menu nav > ul > li > a {
  font-size: 1.35em;
  font-weight: bold;
}

.book-menu nav > ul > li > ul > li > a {
  font-size: 1.2em;
  font-weight: normal;
}

.book-menu nav > ul > li > ul > li > ul > li > a {
  font-size: 1.1em;
  font-weight: normal;
}

/* Link colors - unvisited blue, visited purple */
.book-menu a:link {
  color: #0000EE;
}

.book-menu a:visited {
  color: #551A8B;
}

.book-menu a:hover {
  opacity: 0.8;
}
